# Maven target folder (compiled classes, jars)
target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/
.code-workspace